*.o
moc_*.cpp
qrc_*.cpp
ui_*.h

Makefile

baseide/baseide
baseide/Makefile

exporters/cpp/Makefile
exporters/cpp/libcpptarget.so*

editors/classes/Makefile*
editors/images/Makefile*
editors/scenes/Makefile*
exporters/cpp/Makefile*
