*.o
moc_*.cpp
qrc_*.cpp
ui_*.h

Makefile

baseide/baseide
baseide/Makefile

exporters/cpp/Makefile
exporters/cpp/libcpptarget.so*

editors/classes/Makefile*
editors/images/Makefile*
editors/scenes/Makefile*
exporters/cpp/Makefile*

editors/dlls/lib*.so
editors/dlls/lib*.so.1
editors/dlls/lib*.so.1.0
editors/dlls/lib*.so.1.0.0

