/*
THEME: New theme
AUTHOR: PeterSvP
*/

*
{
	font-family: Courier New;
	color: #0f0 !important;
	background: #000 !important;
}

QPushButton
{
	border: 3px solid red;
	padding: 10px;
	border-image: url(themes/default/btnnormal.png);
	
}

QPushButton
{
	box-shadow: 4px 4px 9px black;
}

QPushButton:hover
{
	background: #ccc;
	border-image: url(themes/default/btnnormal.png);
	color: black;
}

QGroupBox
{
	border:1px solid white;
	border-radius: 3px;	
	padding-top:5px;
	margin-top:8px;
}
QGroupBox:title
{
	border:1px solid white;
	border-radius: 3px;	
	left:8px;
	top:-8px;
	padding:1px;
}